body{
  background-color: #dbdedd;
  color: #585f5e;
}
h1, h2 {
	color: #c6c9c8;
  font-family: 'Josefin Sans', sans-serif;
}
.icon-bar{
  background-color: #585f5e;
}
nav {
  background: #dbdedd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#dbdedd, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dbdedd, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dbdedd, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dbdedd, #fff); /* Standard syntax */
}
nav a {
	color: #585f5e;
  font-family: 'Josefin Sans', sans-serif;
}
nav a:hover{
	color: #c6c9c8;
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  display: flex;
  background-size: cover;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #dbdedd, #dbdedd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #dbdedd, #dbdedd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #dbdedd, #dbdedd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #dbdedd, #dbdedd); /* Standard syntax */
}
.jumbotron h1 {
  margin: 40px 0;
  font-size: 40px;
  color: #585f5e;
  font-family: 'Josefin Sans', sans-serif;
}
.jumbotron p{
	color: #585f5e;
}

footer {
	background: #dbdedd; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#dbdedd, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dbdedd, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dbdedd, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dbdedd, #fff); /* Standard syntax */
	color: #585f5e;
}
footer img {
  width: 35%;
}